/glf-accounts/
/glf-api-gateway/
/glf-communities/
/glf-configServer/
/glf-servicediscovery/
/.env/.config/
/pp-auth/
/.env/.run/PpAuthRunner_NonGIt.run.xml
/.env/.run/env/.env_auth_nonGit
/.env/.docker/compose/qa/single-db/.env
/.env/.run/ConfigServerApplication_nonGit.run.xml
/.env/.docker/compose/qa/multi-db/.env
/.env/.run/With_Observability/O_ConfigServerApplication_nonGit.run.xml
/.env/.run/With_Observability/O_PpAuthRunner_NonGIt.run.xml
/.env/.secrets/
/.env/.tools/
/.env/.scripts/scripts/linux/.temp/
/.env/._postman/
/.env/.postman/
/CLAUDE.md
/.claude/
*/nul
